<div class="container">
    <div class="headerText">
        <h1>URL Shortener</h1>
    </div>
    <div class="logo">
        <img src="https://memes.tw/user-maker-thumbnail/5981dbab85a64ed87c9ab2d97c180782.gif" alt="">
    </div>
    
        <form action="/shortenurl" method="POST">
            <div class="form-group">
                <div class="showText">
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Input URL here...." name="inputUrl">   
                </div>
                <div class="btn">
                    <button type="submit" class="btn btn-primary copyBtn" id="copyBtn">Submit</button>
                </div>
            </div>          
        </form>
    </div> 
</div>