<div class="container" id="show-page-container">
    <div class="headerText">
        <h1>URL Shortener</h1>
    </div>
    <div class="logo">
        <img src="https://memes.tw/user-maker-thumbnail/5981dbab85a64ed87c9ab2d97c180782.gif" alt="">
    </div>
    <div class="showText">
        <p>Success! Please use this link:</p>
    </div>
    <div class="showUrl">
        <input type="text" id="shorten-url-str" class="shorten-url-str" value="https://aqueous-lowlands-99379.herokuapp.com/{{result.shorten_url}}" id="myInput" readonly>
    </div>
    <div class="btn">
        <button type="button" class="btn btn-primary copyBtn" id="copyBtn">按我複製連結</button>
    </div>
</div>

<script src="/javascripts/copy.js"></script>